* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
.cwepss-asbl-paragraph-title h4 {
    margin-top: 0;
    font-weight: bold;
}


@media only screen and (min-width : 768px) {
    .cwepss-asbl-paragraph-title {
        padding-left: 0;
    }
}

div#collapse-asbl-views div.views-field-field-body {
    padding-left: 15px;
    padding-right: 15px;
}

div#collapse-asbl-views div.views-field-field-paragraph-image img {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
*/
