@charset "UTF-8";

.views-field-field-paragraph-image,
.field-paragraph-image {
  img {
    width: 100%;
    @include border-radius(5px);
  }
}

#collapse-asbl-views {

  .row:first-child {
    margin-bottom: 1rem;
  }

  .cwepss-asbl-paragraph-title h4 {
    margin-top: 0;
    font-weight: bold;
  }

  .views-field-field-body,
  .views-field-field-paragraph-link,
  .field-paragraph-link {
    padding-left: 15px;
    padding-right: 15px;
  }

  .views-field-field-paragraph-link,
  .field-paragraph-link {
    a {
      float:right;
    }
  }

  @media only screen and (min-width : 768px) {
    .cwepss-asbl-paragraph-title {
      padding-left: 0;
    }
  }

}

